



@media screen and (max-width: 800px) {
    .first-main-section {
      width: 90%;
      margin: auto;
      margin-bottom: 4.5rem;
    }
    .first-main-section section {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 5rem;
      text-align: center;
    }
    .first-main-section section p {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header .brand-logo {
      width: 100px;
    }
    .header {
      background-image: url("images/bg-header-mobile.png");
    }
    .first-main-section p {
      width: 80%;
    }
    .third-main-section .icons-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 80%;
      margin: auto;
      place-items: top;
      margin-bottom: 5rem;
      gap: 1rem;
    }
    .third-main-section .images-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 4rem;
    }
    button {
      display: block;
    }
    .header button:first-child,
    .main-footer button:first-child {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
    .footer .wrapper {
      flex-direction: column;
      align-items: center;
    }
    .footer .footer-links {
      gap: 2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .footer .footer-links div {
      align-items: center;
    }
  }